<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Facebook Login">
	<!-- This test name is just for reporting has nothing to do with Testcase 
		name -->
	<test thread-count="1" name="Facebook Login Positive case">
		<classes>
			<class name="FirstTest" />
		</classes>
	</test>
	<test thread-count="1" name="Facebook News feed case">
		<classes>
			<class name="TestFacebookFeed" />
		</classes>
	</test>
	
</suite> 
